{{ partial "header" . }}
    {{ $.Scratch.Set "shareNav" true }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        {{ if .Site.Params.summaryHome }}
            {{ $postCount := .Site.Params.summaryHomeCount | default 5 }}
            {{ range first $postCount (where .Site.Pages "Type" "post") }}
                {{ .Render "content-list" }}

                {{ partial "share-menu" . }}
            {{ end }}
        {{ else }}
            {{ range first 1 (where .Site.Pages "Type" "post") }}
                {{ .Render "content-single" }}

                {{ partial "share-menu" . }}
            {{ end }}
        {{ end }}
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
